.header, #menu{
  top: 0;
}
#menu, #menu-title, #menu-button {
  position: relative;
}
#menu, #toggle, .page-container, #form-error {
   border: 2px solid black;
}
#menu {
  width: 99.6%;  
}
#menu-title, #menu-button, #toggle ul li, #contact-left-section, #contact-right-section {
  display: inline-block;
}
#menu-title {
  width: 80%;
}
#menu-title h2 {
  padding-left: 30px;
  color: blue;
}
#menu-button {
  width: 15%;
  padding-top: 10px;
}
#menu-icon {
  margin-left: 60px;  
  cursor: pointer; 
}
#menu-icon img{
  height: 40px;
  width: 40px;
}
#toggle ul {
  text-align: center;
}
#toggle ul li {
  padding: 0 30px;
}
.page-container {
  height: 450px;
}
#contact-left-section {
  border: 2px solid red;
  width: 45%;
  height: 450px;
}
#contact-right-section {
  border: 2px solid blue;
  width: 45%;
  height: 450px;
}
#add-contact-section {
  border: 2px solid blue;
  height: 300px;
  margin: 30px;
}
#form-error {
  height: 60px;
  margin: 30px;
}
.footer {
  border: 2px solid green; 
  padding: 50px 0;
}
#contact-form, #contact-message {
  width: 100%;
  display: block;
}
#contact-message div p {
  position: absolute;
  color: blue;
}
#contact-message div img {
  position: absolute;
  height: 50px;
  margin-left: 450px;
  cursor: pointer;
}
#contact-form form {
  margin-top: 40px;
  position: absolute;
}
.error {
  position: absolute;
}
.contact-list {
  position: absolute;
}
.contact-list ul li {
  list-style-type: none;
}